:root {
  --primary: rgb(105, 150, 156, 1);
  --primary-dark: rgb(49, 115, 124, 1);
  --primary-70: rgba(105, 150, 156, 0.7);
  --primary-50: rgba(105, 150, 156, 0.5);
  --primary-30: rgba(105, 150, 156, 0.3);
  --primary-10: rgba(105, 150, 156, 0.1);
  /* --logo: #356b72; */
  /* --sidebar-icon: #fcffff; */
}
/* 
.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(105, 150, 156, 1)),
    to(#3c4655)
  );

  background-image: linear-gradient(
    0deg,
    rgb(105, 150, 156, 1),
    rgb(100, 173, 183)
  );
} */
